* {
    background-color: white;
    font-family: Consolas, monaco, monospace;

}

body {

    margin: 0 auto;
    width: 50%;

}

ul li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.66em;
}

.intro {
    font-size: 14px;
    line-height: 1.6;
}

.els{
    font-size: 14px;
}

.small {
    font-size: .8em;
}

.muted {
    color: #aaa !important;
    text-decoration: none !important;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host{
    font-size: .7em;

}

@media (max-width: 400px) {
    body {
        width: 90% !important;
    }

    .intro {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }
}

@media (min-width: 401px) and (max-width: 700px) {
    body {
        width: 90%;
    }
    .intro {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
    }
}

@media (min-width: 700px) and(max-width: 960px) {
    body {
        width: 70%;
    }

    .intro {
        font-size: 14px;
    }

    h1 {
        font-size: 45px;
    }
}
